body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.product__container {
    min-width: 21em;
}


/* Header */
.header {
    display: grid;
    grid-template-areas: 
        "menu search logo user cart";
    margin-top: 1em;
    align-items: center;

    /* It is 1em, because I didn't insert mobile icons(signal, battery etc) */

    &__menu {
        grid-area: menu;
        justify-self: center;
    }

    &__logo {
        grid-area: logo;
        justify-self: center;

        img {
            width: 62px;
            height: 49px;
        }
    }

    &__nav {
        grid-area: nav;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: 100%;
        max-width: 360px;
        right: -360px;
        position: fixed;
        top: 0;
        transition: 0.3s ease-in;

        &-list {
            list-style:  none;
        }
        &-item {
            a {
                text-decoration: none;
                font-size: 14px;
                color: #4d4d4d;
            }
        }
    }
    &__nav.is-active {
        margin-top: 350px;
        font-size: 45px;
        right: 0;
        top: initial;
        background: cornsilk;
    }

    &__icon-search {
        grid-area: search;
    }

    &__icon-user {
        grid-area: user;
        justify-self: end;
    }

    &__icon-cart {
        grid-area: cart;
        justify-self: center;
    }
}


@media screen and (min-width:700px) {

    .header {

        grid-template-areas:
            "logo nav search user cart";

        &__menu {
            display: none;
        }

        .header__nav {
            display: grid;
            position: initial;
            height: initial;

            ul {
                display: flex;
                justify-self: center;
                gap: 1em;
            }
        }
        &__icon {
            &-search,
            &-user,
            &-cart {
                cursor: pointer;
                position: absolute;
        }
        
        &-search {
            right: 140px;
        }

        &-user {
            right: 100px;
        }

        &-cart {
            right: 60px;
        }
    }
}
}