body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.product__container {
    min-width: 21em;
    
}

/* Header */
.header {
    display: grid;
    grid-template-areas: 
        "menu search logo user cart";
    margin-top: 1em;
    align-items: center;

    /* It is 1em, because I didn't insert mobile icons(signal, battery etc) */

    &__menu {
        grid-area: menu;
        justify-self: center;
    }

    &__logo {
        grid-area: logo;
        justify-self: center;

        img {
            width: 62px;
            height: 49px;
        }
    }

    &__nav {
        display: none;
        grid-area: nav;
    }

    &__icon-search {
        grid-area: search;
    }

    &__icon-user {
        grid-area: user;
        justify-self: end;
    }

    &__icon-cart {
        grid-area: cart;
        justify-self: center;
    }
}
